{% block content %}
<div class="auth-container">
    <h1>Inicia sesión en Ocaso</h1>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <input type="text" name="username" placeholder="Nombre de usuario" required><br> {# Asumiendo que usará el estilo de input[type="text"] #}
        <input type="password" name="pin" placeholder="Contraseña" required><br> {# Asumiendo que usará el estilo de input[type="password"] #}
        <button type="submit">Entrar</button> {# Usará el estilo general de button #}
    </form>
    <form action="{{ url_for('main.solicitar_cambio_pin') }}">
        <button class="pin-btn"><span>🔑</span><span>¿Olvidaste tu contraseña?</span></button>
    </form>
    <form action="{{ url_for('auth.registro') }}">
        <button class="pin-btn">&nbsp;¿No tienes cuenta? Regístrate aquí</button>
    </form>
</div>
{% endblock %}
